.main-content h2:before,
.main-content h3:before,
.main-content h4:before,
.main-content h5:before,
.main-content h6:before {
  content: "# ";
  white-space: nowrap;
}

.main-content p code {
  background: #f6f8fa;
  line-height: inherit;
  padding: 3px 6px;
  border-radius: 4px;
}

.code-wrapper {
}
